<template>
  <div>
    <button type="submit" class="addproductlist-button" @click="showModal">เพิ่มรายการสินค้า</button>
    <button type="submit" class="addtablelist-button" @click="showModalTable">เพิ่มโต๊ะ</button>
    <b-modal ref="myModalRef" hide-footer title="รายละเอียดสินค้า" size="lg">
      <label>ชื่อสินค้า</label><span class="error" v-if="errors.has('productName')">{{ errors.first('productName') }}</span>
      <div :class="{errorinput: errors.has('productName')}">
        <input type="text" placeholder="ชื่อสินค้า" class="addproduct-input" name="productName" v-validate="'required'"
          v-model="productName" />
      </div>
      <label>ประเภทสินค้า</label><span class="error" v-if="errors.has('productCategory')">{{
        errors.first('productCategory') }}</span>
      <div :class="{errorinput: errors.has('productCategory')}">
        <b-form-select v-model="productCategoryselected" :options="optionspCat" class="addproduct-input" v-validate="'required'"
          name="productCategory" />
      </div>
      <label>ราคาทุน</label><span class="error" v-if="errors.has('productCapitalPrice')">{{
        errors.first('productCapitalPrice') }}</span>
      <div :class="{errorinput: errors.has('productCapitalPrice')}">
        <input type="number" placeholder="ราคาทุน" class="addproduct-input" name="productCapitalPrice" v-validate="'required|numeric'"
          v-model="productCapitalPrice" min="1" />
      </div>
      <label>ราคา</label><span class="error" v-if="errors.has('productSalePrice')">{{ errors.first('productSalePrice')
        }}</span>
      <div :class="{errorinput: errors.has('productSalePrice')}">
        <input type="number" placeholder="ราคา" class="addproduct-input" name="productSalePrice" v-validate="'required|numeric'"
          v-model="productSalePrice" min="1" />
      </div>
      <label>จำนวน</label><span class="error" v-if="errors.has('productQty')">{{ errors.first('productQty') }}</span>
      <div :class="{errorinput: errors.has('productQty')}">
        <input type="number" placeholder="จำนวน" class="addproduct-input" name="productQty" v-validate="'required|numeric'"
          v-model="productQty" min="1" />
      </div>
      <label>จำนวนสินค้าขั้นต่ำ</label><span class="error" v-if="errors.has('productMinimum')">{{
        errors.first('productMinimum') }}</span>
      <div :class="{errorinput: errors.has('productMinimum')}">
        <input type="number" placeholder="จำนวนสินค้าขั้นต่ำ" class="addproduct-input" name="productMinimum" v-validate="'required|numeric'"
          v-model="productMinimum" min="1" />
      </div>
      <button type="submit" class="addproduct-button" @click="addProduct">เพิ่มสินค้า</button>
    </b-modal>


    <b-modal ref="myModalRefTable" hide-footer title="ชื่อโต๊ะ" size="lg">
      <span class="error" v-if="errors.has('tableName')">{{ errors.first('tableName') }}</span>
      <div :class="{errorinput: errors.has('tableName')}">
        <input type="text" placeholder="ชื่อโต๊ะ" class="addproduct-input" name="tableName" v-model="tableName"/>
        <button type="submit" class="addproduct-button" @click="addTable">เพิ่มโต๊ะ</button>
        <div style="padding:1em">
            <table class="table">
              <thead style="background-color:#ccff33">
                <th>ลำดับโต๊ะ</th>
                <th>ชื่อโต๊ะ</th>
              </thead>
              <tbody>
                <tr v-for="(table,index) in getAllTable" :key="`${index}`">
                  <td>
                    {{ (index+1) }}
                  </td>
                  <td>
                    {{ table.tableName }}
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </b-modal>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        tableName: null,
        productName: null,
        productCategoryselected: null,
        optionspCat: [{
            value: null,
            text: 'กรุณาเลือกประเภทสินค้า',
            disabled: true
          },
          {
            value: 'foods',
            text: 'อาหาร'
          },
          {
            value: 'drinks',
            text: 'เครื่องดื่ม'
          },
          {
            value: 'alcohol',
            text: 'แอลกอฮอร์'
          }
        ],
        productCapitalPrice: null,
        productSalePrice: null,
        productQty: null,
        productMinimum: null

      }
    },
    methods: {
      getLastProductID() {
        if (this.$store.state.productStore.proData.length > 0) {
          //Get last product id
          return this.$store.state.productStore.proData.slice(-1).pop().productId
        } else {
          //If not found return 0
          return 0
        }
      },
      showModal() {
        this.$refs.myModalRef.show()
      },
      showModalTable() {
        this.$refs.myModalRefTable.show()
      },
      findTableName(tableName) {
        const index = this.$store.state.tablesStore.tableData.findIndex(
          table => table.tableName === tableName
        );
        return index;
      },
      addTable() {
        // this.$validator.validateAll().then((valid) => {
        //     if(valid){
        if (this.tableName) {
          if (this.findTableName(this.tableName) == -1) {
            this.$store.commit('tablesStore/addTableTotableData', {
              tableName: this.tableName
            })
            this.tableName = ''
            this.$validator.reset();
            this.$refs.myModalRefTable.hide()
            return true;
          } else {
            alert('โต๊นี้มีอยู่แล้ว. กรุณาเปลี่ยนชื่อโต๊ะ?')
            this.tableName = ''
            this.$validator.reset();
          }
        } else {
          alert('กรุณากรอกชื่อโต๊ะ?')
        }
        //     }
        //  })
      },
      addProduct() {
        this.$validator.validateAll().then((valid) => {
          if (valid) {
            if (this.productName && this.productCategoryselected && this.productCapitalPrice && this.productSalePrice &&
              this.productQty && this.productMinimum) {
              this.$store.commit('productStore/addProductToproData', {
                // Get productId by method and plus one more
                productId: (this.getLastProductID() + 1),
                productName: this.productName,
                productCategory: this.productCategoryselected,
                productCapitalPrice: this.productCapitalPrice,
                productSalePrice: this.productSalePrice,
                productQty: this.productQty,
                productMinimum: this.productMinimum
              })
              this.productName = ''
              this.productCapitalPrice = ''
              this.productSalePrice = ''
              this.productQty = '',
                this.productMinimum = ''
              this.$validator.reset();
              this.productCategoryselected = null
              this.$refs.myModalRef.hide()
              return true;
            } else {
              alert('กรุณากรอกข้อมูลให้ครบถ้วน?')
            }

          }
        })
      }
    },
    computed:{
      getAllTable(){
        return this.$store.state.tablesStore.tableData;
      }
    }

  }

</script>
<style>
  .addproduct {
    margin-left: auto;
    margin-right: auto;
    margin: 1em auto;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 5px;

  }


  h1.addproduct-title {
    margin: -28px -25px 25px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align: center;
    background: #f7f7f7;

  }

  .addproduct-input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .addproduct-input:focus {
    border-color: #6e8095;
    outline: none;
  }

  .addproduct-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #27AE60;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    margin-top: 1em;
  }

  .addproductlist-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: rebeccapurple;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    margin-top: 1em;
  }

  .addtablelist-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: rgb(129, 161, 10);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    margin-top: 1em;
  }

  .addproduct-lost {
    text-align: center;
    margin-bottom: 0px;
  }

  .addproduct-lost a {
    color: #666;
    text-decoration: none;
    font-size: 13px;
  }

  .error {
    color: red;
    font-weight: bold;
    float: right;
  }

  .errorinput {
    border: 2px solid #F01E14;
    width: 100%;
    border-radius: 4px;
  }
  .table td,
th {
  text-align: center;
}
</style>
