<template>
    <div>
        <div class="list-product">
            <h2>รายการสินค้าประเภท {{productCategoryName}}</h2>
            <div class="alert alert-danger" role="alert" v-if="products.length<1">
                <center>ไม่พบรายการสินค้า</center>
            </div>
            <table class="table" v-if="products.length>0">
                <thead>
                    <th>#ID</th>
                    <th>ชื่อสินค้า</th>
                    <th>ราคาทุนสินค้า</th>
                    <th>ราคาขายสินค้า</th>
                    <th>จำนวนสินค้าคงเหลือ</th>
                    <th>จำนวนสินค้าขั้นต่ำ</th>
                    <th>จัดการสินค้า</th>
                </thead>
                <tbody>
                    <tr v-for="(product,index) in products" :key="`${index}`">
                        <td>{{ product.productId }}</td>
                        <td>{{ product.productName }}</td>
                        <td>{{ convertNumber(product.productCapitalPrice) }} บาท</td>
                        <td>{{ convertNumber(product.productSalePrice) }} บาท</td>
                        <td>{{ convertNumber(product.productQty) }} ชิ้น</td>
                        <td>{{ convertNumber(product.productMinimum) }} ชิ้น</td>
                        <td><button type="button" class="btn btn-danger" @click="removeProduct(findProductIndexById(product.productId))">ลบสินค้า</button>
                            <button type="button" class="btn btn-primary" @click="showModal(index)">แก้ไขข้อมูลสินค้า</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="myModalRef" hide-footer title="รายละเอียดสินค้า" size="lg">
            <label>ชื่อสินค้า</label><span class="error" v-if="errors.has('productName')">{{ errors.first('productName') }}</span>
                <div :class="{errorinput: errors.has('productName')}">
                    <input type="text" placeholder="ชื่อสินค้า" class="addproduct-input" name="productName" v-validate="'required'" v-model="productName"/>
                </div>
            <label>ประเภทสินค้า</label><span class="error" v-if="errors.has('productCategory')">{{ errors.first('productCategory') }}</span>
                <div :class="{errorinput: errors.has('productCategory')}">
                    <b-form-select v-model="productCategoryselected" :options="optionspCat" class="addproduct-input" v-validate="'required'" name="productCategory"/>
                </div>
            <label>ราคาทุน</label><span class="error" v-if="errors.has('productCapitalPrice')">{{ errors.first('productCapitalPrice') }}</span>
                <div :class="{errorinput: errors.has('productCapitalPrice')}">
                    <input type="number" placeholder="ราคาทุน" class="addproduct-input" name="productCapitalPrice" v-validate="'required|numeric'" v-model="productCapitalPrice" min="1"/>
                </div>
            <label>ราคา</label><span class="error" v-if="errors.has('productSalePrice')">{{ errors.first('productSalePrice') }}</span>
                <div :class="{errorinput: errors.has('productSalePrice')}">
                    <input type="number" placeholder="ราคา" class="addproduct-input" name="productSalePrice" v-validate="'required|numeric'" v-model="productSalePrice" min="1"/>
                </div>
            <label>จำนวน</label><span class="error" v-if="errors.has('productQty')">{{ errors.first('productQty') }}</span>
                <div :class="{errorinput: errors.has('productQty')}">
                    <input type="number" placeholder="จำนวน" class="addproduct-input" name="productQty" v-validate="'required|numeric'" v-model="productQty" min="1"/>
                </div>
            <label>จำนวนสินค้าขั้นต่ำ</label><span class="error" v-if="errors.has('productMinimum')">{{ errors.first('productMinimum') }}</span>
                <div :class="{errorinput: errors.has('productMinimum')}">
                    <input type="number" placeholder="จำนวนสินค้าขั้นต่ำ" class="addproduct-input" name="productMinimum" v-validate="'required|numeric'" v-model="productMinimum" min="1"/>
                </div>
            <button type="submit" class="addproduct-button" @click="updateProduct">อัพเดทรายละเอียดสินค้า</button>   

        </b-modal>
    </div>
</template>
<script>
export default {
  props: {
    productCategoryName: "",
    products: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      productId : null,
      productName: null,
      productCategoryselected: null,
      optionspCat: [
        { value: null, text: "กรุณาเลือกประเภทสินค้า", disabled: true },
        { value: "foods", text: "อาหาร" },
        { value: "drinks", text: "เครื่องดื่ม" },
        { value: "alcohol", text: "แอลกอฮอร์" }
      ],
      productCapitalPrice: null,
      productSalePrice: null,
      productQty: null,
      productMinimum: null,
    };
  },
  methods: {
    showModal(index) {
      this.productId = this.products[index].productId
      this.productName = this.products[index].productName
      this.productCategoryselected = this.products[index].productCategory
      this.productCapitalPrice = this.products[index].productCapitalPrice
      this.productSalePrice = this.products[index].productSalePrice
      this.productQty = this.products[index].productQty
      this.productMinimum = this.products[index].productMinimum
      this.$refs.myModalRef.show();
    },
    convertNumber(number) {
      return new Intl.NumberFormat("thai", {
        maximumSignificantDigits: 3
      }).format(number);
    },
    updateProduct() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          if (
            this.productName &&
            this.productCategoryselected &&
            this.productCapitalPrice &&
            this.productSalePrice &&
            this.productQty &&
            this.productMinimum
          ) {
            this.$store.commit("productStore/updateProduct", {
              productId : this.productId,
              productName: this.productName,
              productCategory: this.productCategoryselected,
              productCapitalPrice: this.productCapitalPrice,
              productSalePrice: this.productSalePrice,
              productQty: this.productQty,
              productMinimum: this.productMinimum
              
            });
            this.productName = "";
            this.productCapitalPrice = "";
            this.productSalePrice = "";
            (this.productQty = ""), (this.productMinimum = "");
            this.$validator.reset();
            this.productCategoryselected = null;
            this.$refs.myModalRef.hide();
            return true;
          } else {
            alert("กรุณากรอกข้อมูลให้ครบถ้วน?");
          }
        }
      });
    },
    findProductIndexById(productId) {
      const index = this.$store.state.productStore.proData.findIndex(
        product => product.productId === productId
      );
      return index;
    },
    removeProduct(index) {
      const confirmResult = confirm(
        `คุณต้องการลบสินค้า ${
          this.$store.state.productStore.proData[index].productName
        } ใช่หรือไม่`
      );
      if (confirmResult == true) {
        this.$store.commit("productStore/deleteProduct", index);
      }
    }
  }
  
};
</script>
<style scoped>
.table td,
th {
  text-align: center;
}
.list-product {
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  margin: 1em 0px;
}
</style>
