<template>
   <div class="report">
       <div class="report-header">
       <h3 style="color:#fff"> ออเดอร์ {{ order.orderId }} โต๊ะ {{ order.tableName }} | {{ formatDate(order.date) }} </h3>
       </div>
       <!-- <h3>โต๊ะที่ {{ order.tableName }}</h3> -->
       <div style="padding:1em">
           <table class="table" style="margin-top:1em">
               <thead>
                   <th>ลำดับที่</th>
                   <th>ชื่อสินค้า</th>
                   <th>ราคาทุน</th>
                   <th>ราคาขาย</th>
                   <th>จำนวนสินค้า</th>
               </thead>
               <tbody>
                   <tr v-for="(product,index) in order.products" :key="`${index}`" >
                       <td>{{(index + 1)}}</td>
                       <td>{{product.product.productName}}</td>
                       <td>{{product.product.productCapitalPrice}} บาท</td>
                       <td>{{product.product.productSalePrice}} บาท</td>
                       <td>{{product.amount}} ชิ้น</td>
                   </tr>
               </tbody>
           </table>
           <div style="padding:1em">
               <h3 style="text-align:right">ราคารวม <span style="color:#cc0000">{{ convertNumber(sumPrice(order.products)) }}</span> บาท</h3>
               <h4 style="text-align:right">
                   ราคาทุนรวม
                   <span style="color:#009900">
                       {{ convertNumber(sumCapital(order.products)) }}
                   </span>
                   บาท
               </h4>
               <h4 style="text-align:right">
                   กำไร
                   <span style="color:#ff9900">
                       {{ convertNumber(sumProfit(order.products)) }}
                   </span>
                   บาท
               </h4>
           </div>
       </div>
   </div>

</template>

<script>
   export default{
       props:{
           order : {
               type: Object,
               default: () => []
           }
       },
       data(){
           return {}
       },
       methods:{
           formatDate(date) {
             let d = new Date(date).toLocaleDateString('th-GB', {
                   day : 'numeric',
                   month : 'short',
                   year : 'numeric',
                   hour : 'numeric',
                   minute : 'numeric'
               })
             return d
           },convertNumber(number) {
               return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
           },
           sumPrice(products){
               return products.reduce((sum,product)=>{
                   return sum + (product.amount*product.product.productSalePrice)
               },0)
           },
          sumCapital(products){
               return products.reduce((sum,product)=>{
                   return sum + (product.amount*product.product.productCapitalPrice)
               },0)
           },
           sumProfit(products){
               return products.reduce((sum,product)=>{
                   return sum + ((product.amount*product.product.productSalePrice)-(product.amount*product.product.productCapitalPrice))
               },0)
           },
       },
       mounted() {
           // this.sumAllPrice()
       },
   }
</script>

<style scoped>
   .table td,
   th {
   text-align: center;
   }
   .report{
       background-color:#fff;
       border-radius:5px 5px 5px 5px;
       margin: 1em auto;
   }
   .report-header{
       padding:10px 5px 5px 15px;
       border-radius:5px 5px 0px 0px;
       background-color:#17a2b8 !important;
   }

</style>