<template>
    <div>
        <div class="list-product">
            <h2>รายการอาหาร ของโต๊ะ {{table}}</h2>
             <div class="alert alert-danger" role="alert" v-if="!orders">
                <center>ไม่พบรายการ</center>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        props:{
            table : '',
            orders:{}
        },
        data(){
            return{}
        }
    }
</script>
<style scoped>
.table td,
th {
  text-align: center;
}
.list-product {
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  margin: 1em 0px;
}
</style>