@font-face{
    font-family: 'Kanit-Thin';
    src:url('./fonts/Kanit-Thin.ttf');
}
@font-face{
    font-family: 'Kanit-Light';
    src:url('./fonts/Kanit-Light.ttf');
}
body{
    font-family: 'Kanit-Light' !important;
    background-color: #1abc9c !important;
    font-size: 16px !important; 
}