<template>
<div>
 <b-navbar toggleable="md" type="dark" variant="info">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <nuxt-link to="/main" class="navbar-brand">POS ADMIN</nuxt-link>

  <b-collapse is-nav id="nav_collapse">

    <b-navbar-nav>
      <nuxt-link to="/drinkspage" class="nav-link">พนักงานบาร์น้ำ</nuxt-link>
      <nuxt-link to="/foodspage" class="nav-link">พนักงานบาร์อาหาร</nuxt-link>
      <nuxt-link to="/alcoholpage" class="nav-link">พนักงานบาร์เหล้า</nuxt-link>
      <nuxt-link to="/counterpage" class="nav-link">พนักงานเคาร์เตอร์</nuxt-link>
      <nuxt-link to="/reportpage" class=" nav-link">รายงานผลการขาย</nuxt-link>
    </b-navbar-nav>

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">

      <b-nav-item-dropdown right>
        <!-- Using button-content slot -->
        <template slot="button-content">
          <em v-if="userData != null ">สวัสดีคุณ {{userData.username}}</em>
        </template>
        <b-dropdown-item @click="Signout">ออกจากระบบ</b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>

  </b-collapse>
</b-navbar>
  <div class="content">
    <nuxt/>
  </div>
</div>
</template>
<script>
    export default{
        data(){
            return {

            }
        },
        methods:{
          Signout(){
            this.$router.push('/')
            this.$store.commit('authLocalStore/Logout')
          },
        },
        computed:{
            userData(){
              return this.$store.state.authLocalStore.userData;
            }
        }
    }
</script>
