<template>
  <div>
    <div class="login">
      <h1 class="login-title">เข้าสู่ระบบ</h1>
      <label>ชื่อผู้ใช้งาน</label>
      <span class="error" v-if="errors.has('username')">{{ errors.first('username') }}</span>
      <div :class="{errorinput: errors.has('username')}">
        <input
          type="text"
          placeholder="ชื่อผู้ใช้งาน"
          class="login-input"
          name="username"
          v-validate="'required'"
          v-model="username"
        >
      </div>
      <label>รหัสผ่าน</label>
      <span class="error" v-if="errors.has('password')">{{ errors.first('password') }}</span>
      <div :class="{errorinput: errors.has('password')}">
        <input
          type="password"
          placeholder="รหัสผ่าน"
          class="login-input"
          name="password"
          v-validate="'required'"
          v-model="password"
        >
      </div>
      <button type="submit" class="login-button" @click="login">เข้าสู่ระบบ</button>
    </div>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  components: {
    Logo
  },
  data() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    login() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          if (this.username === "admin" && this.password === "1234") {
            this.$store.commit("authLocalStore/Login", {
              username: this.username,
              status: 1
            });
            this.$router.push("/main");
          } else {
            alert("ชื่อผู้ใช้งานหรือหรัสผ่านไม่ถูกต้อง?");
          }
        }
      });
    }
  },
  mounted() {
    if (this.$store.state.authLocalStore.userData) {
      this.$router.push("/main");
    }
  }
};
</script>

<style>
.login {
  margin-left: auto;
  margin-right: auto;
  margin: 5em auto;
  width: 50%;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

h1.login-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #adadad;
  text-align: center;
  background: #f7f7f7;
}

.login-input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
  border-color: #6e8095;
  outline: none;
}
.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  margin-top: 1em;
}

.login-lost {
  text-align: center;
  margin-bottom: 0px;
}

.login-lost a {
  color: #666;
  text-decoration: none;
  font-size: 13px;
}
.error {
  color: red;
  font-weight: bold;
  float: right;
}
.errorinput {
  border: 2px solid #f01e14;
  width: 100%;
  border-radius: 4px;
}
</style>
